GamerShop/GamerShop.MVC/Connected Services/ServiceGamerShop/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceBackendData.Entities.ClassEntitiesDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceBackendData.Entities.ClassEntitiesDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:boolean" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProduct" type="xs:int" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImageProductDTO" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ArrayOfImageProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageProductDTO" nillable="true" type="tns:ImageProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageProductDTO" nillable="true" type="tns:ArrayOfImageProductDTO" />
  <xs:complexType name="ImageProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdImageProduct" type="xs:int" />
      <xs:element minOccurs="0" name="IdProduct" type="xs:int" />
      <xs:element minOccurs="0" name="IsMain" type="xs:boolean" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageProductDTO" nillable="true" type="tns:ImageProductDTO" />
</xs:schema>